body {
    font-family: sans-serif;
    margin: auto;
    max-width: 1280px;
}

.site-content {
    position: relative;
}

.max-column {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.container {
    width: calc(50% - 10px);
    height: 412px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 0px;
    line-height: 0px;
    position: relative;
    float: left;
}

.container:nth-child(even) {
    margin-right: 20px;
}

.image {
    opacity: 1;
    display: block;
    height: 412px;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .max-column {
        padding: 0 20px;
    }
    .container {
        width: 100%;
    }
}

.middle {
    width: 83%;
    height: 100%;
    transition: .5s ease;
    display: table;
    top: 0;
    left: 0;
    padding: 0 40px;
    opacity: 0;
    position: absolute;
    text-align: center;
}

.container:hover .image {
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    -ms-filter: brightness(70%);
    filter: brightness(70%);
    opacity: 1.0;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.container:hover .middle {
    opacity: 1;
}

.text {
    color: white;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 25% 0;
}

@media only screen and (max-width: 768px) {
    .max-column {
        padding: 0 20px;
    }
    .container {
        width: 100%;
    }
    .container .middle {
        opacity: 1;
    }
    .container .middle .text p {
        opacity: 0;
    }
}

.text h1 {
    margin-bottom: 1.2em;
}
